@import '../../aditional/colors.css';


.title {
    text-transform: uppercase;
    color: #a7a5a5;
    margin-bottom: 30px;
  }
  
  .statistics{
    display: flex;
    align-items: center;
    flex-direction: column;
    justify-content: center;
  }

  .statList {
    display: flex;
    flex-direction: row;
  }
  
  .item {
    display: flex;
    flex-direction: column;
    align-items: center;
  
    width: 130px;
    padding: 20px;

    box-shadow: 0px 0px 14px -5px var(--shadow-card);

    border-radius: 17px;
  
    color: var(--text-color);
  }
  
  .label {
    font-size: 12px;
    margin-bottom: 10px;
  }

  .percentage{
    display: flex;
    flex-direction: row;
    align-items: center;

    font-weight: bold;
  }